@*@{
        int i;
        for(i=0; i<=1; i++)
        {
            var item[i] = Model.LineStatusId;
        }
    }*@

@*抓到使用者登入的cookie資訊*@
@*@{
    var memberService = new Build_School_Project_No_4.Services.MemberService();
    HttpCookie cookie = HttpContext.Current.Request.Cookies.Get(FormsAuthentication.FormsCookieName);

    string userid = "";
    int? status;
    if (cookie != null)
    {
        FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(cookie.Value);

        var obj = Json.Decode<Members>(ticket.UserData);
        userid = obj.MemberId.ToString();

        //avatar = obj.ProfilePicture;
        status = memberService.GetStatus(obj.MemberId).LineStatusId;
    }

}*@


<!--<div class="online-wrapper dropstart">
    <a type="button" class="btn statusbar" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="~/Assets/images/layout/online.png" alt="">ONLINE
    </a>
    <ul class="dropdown-menu">

        <li>
            <button class="dropdown-item statusbtn" type="button" value="1">
                <img src="~/Assets/images/layout/online.png" alt="">ONLINE-->
                @*<img src="~/Assets/images/layout/online.png" alt="">@Model.LineStatusId*@
            <!--</button>
        </li>
        <li>
            <button class="dropdown-item statusbtn" type="button" value="2">
                <img src="~/Assets/images/layout/offline.png" alt="">OFFLINE-->
                @*<img src="~/Assets/images/layout/offline.png" alt="">@Model.LineStatusId*@
            <!--</button>
        </li>

    </ul>
</div>-->



@section endJS{
    <script>

        @*//let statusbtn = document.querySelectorAll(".statusbtn");

        let memberId = parseInt(@userid);
        let linestatusId;

        //online/offline change
        statuslistbtn.forEach((stabtn, idx) => {

            // statusbar.innerHTML = `<img src="online.png" alt="">ONLINE`;

            stabtn.addEventListener('click', function (memberId) {
                statusbar.innerHTML = stabtn.innerHTML;

                linestatusId = stabtn.value;
                var Data = JSON.stringify({
                    MemberId: `${memberId}`,
                    LineStatusId: `${linestatusId}`
                });

                $.ajax({
                    url: "/Members/MemberStatus",
                    type: "POST",
                    data: Data,
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    processData: false,
                    //dataType: "json",
                    success: function (res) {
                        swal.fire({
                            title: "Update Success",
                            icon: "success",
                            //buttons: true,
                            //dangerMode: true
                        });
                        console.log(res);
                        //$("#ShowMsg").text("Image Uploaded Successfully...!").css("color", "green")
                    },
                    error: function (err) {
                        swal.fire({
                            title: "Update Failure",
                            icon: "error",
                            //buttons: true,
                            //dangerMode: true
                        });

                        console.log(err);
                        //$("#ShowMsg").text("Image Not Uploaded...!").css("color", "red")
                    }
                });

            })
        })*@




        //statusbtn.forEach((item, idx) => {
        //    linestatusId = item.value;

        //    item.addEventListener("click", function (memberId, linestatusId) {

        //        var Data = JSON.stringify({
        //            MemberId: `${memberId}`,
        //            LineStatusId: `${linestatusId}`
        //        });

        //        $.ajax({
        //            url: "/Members/MemberStatus",
        //            type: "POST",
        //            data: Data,
        //            async: true,
        //            contentType: 'application/json; charset=utf-8',
        //            processData: false,
        //            //dataType: "json",
        //            success: function (res) {
        //                swal.fire({
        //                    title: "Update Success",
        //                    icon: "success",
        //                    //buttons: true,
        //                    //dangerMode: true
        //                });
        //                console.log(res);
        //                //$("#ShowMsg").text("Image Uploaded Successfully...!").css("color", "green")
        //            },
        //            error: function (err) {
        //                swal.fire({
        //                    title: "Update Failure",
        //                    icon: "error",
        //                    //buttons: true,
        //                    //dangerMode: true
        //                });

        //                console.log(err);
        //                //$("#ShowMsg").text("Image Not Uploaded...!").css("color", "red")
        //            }
        //        });


        //    });

        //})



    </script>
}