
<div class="container-fluid">
    <div class="row">
        <div class=" items  col-12 col-md-2">
            <div class="text">
                <ul class="list-group ">
                    <a href="#parent-1" class="list-group-item list-group-item-action border-0 bg-transparent">Getting   Started</a>
                    <a href="#parent-2" class="list-group-item list-group-item-action border-0 bg-transparent">Orders</a>
                    <a href="#parent-3" class="list-group-item list-group-item-action border-0 bg-transparent">Discounts and                       Promotions</a>
                    <a href="#parent-4" class="list-group-item list-group-item-action border-0 bg-transparent">Refunds and Reviews</a>
                    <a href="#parent-5" class="list-group-item list-group-item-action border-0 bg-transparent">Money</a>
                    <a href="#parent-6" class="list-group-item list-group-item-action border-0 bg-transparent">Safety and Security</a>
                    <a href="#parent-7" class="list-group-item list-group-item-action border-0 bg-transparent">General</a>
                </ul>
            </div>
        </div>
        <div class="items bg-dark   border-0 col-12 col-md-10">
            <div class="text">
                <h1>FAQ</h1><br>
                <h2 id="parent-1">Getting Started</h2><br>
                <h2 class="h2_height">Q: What is an ePal?</h2>
                <p class="textcolor">
                    A: An ePal is a verified (18+) user who offers gaming
                    companionship
                    with a smile! ePals interact with the community,
                    participate in events, work with content creators, and represent EPal.gg.
                    There are many opportunities available to ePals,
                    the only limitation is your own ambition!
                </p><br>
                <h2 class="h2_height">Q: How do I become an ePal?</h2>
                <p class="textcolor">
                    A: If you are 18 years of age or older, simply sign up using your email or
                    phone number and submit an application for the
                    game or lifestyle service you want to provide. Once your application is approved, you are an ePal!
                </p><br>
                <h2 class="h2_height">Q: Why should I use your service</h2>
                <p class="textcolor">
                    A: On E-Pal, you can team up and voice chat with non-toxic players from all over the world,
                    they will make your gaming experience much better! You can also experience useful and
                    interesting lifestyle services provided on our platform, such as emotional support, relationship advice, sleep call, etc.
                </p><br>
                @*<h2 class="h2_height">Q: How can I become a Coach?</h2>
        <p class="textcolor">
            A: An ePal is a verified (18+) user who offers gaming
            companionship
            with a smile! ePals interact with the community,
            participate in events, work with content creators, and represent EPal.gg.
            There are many opportunities available to ePals,
            the only limitation is your own ambition!br
        </p><br>*@
                <h2 id="parent-2">Order</h2><br>
                <h2 class="h2_height">Q: What is an ePal?</h2>
                <p class="textcolor">
                    A: An ePal is a verified (18+) user who offers gaming
                    companionship
                    with a smile! ePals interact with the community,
                    participate in events, work with content creators, and represent EPal.gg.
                    There are many opportunities available to ePals,
                    the only limitation is your own ambition!
                </p><br>
                <h2 class="h2_height">Q: How and who should I order?</h2>
                <p class="textcolor">
                    A: Click on the “ePal” tab on this screen, then select a category and specific service that you are interested in.
                </p><br>
                <p class="textcolor">
                    Take this image as an example, “E-chat” from “Interactive entertainment” was selected, and the people shown on the right-hand side are the ePals (merchants) who offer services in this category.
                </p><br>
                <p class="textcolor">
                    How to find someone that is perfect for you? It is simple! Check their profile card out –
                    There is a profile picture with their online status to the bottom right of the image. Then you can find their name,
                    merchant level and if they have a specific status, such as a creator. Moving down from here, you will see service price,
                    average rating and how many ratings they have in total. Once you are done reading,
                    you can check out their voice clip by clicking on the top right corner of their game profile card.
                </p><br>
                <h2 class="h2_height">Q: Why was my application rejected?</h2>
                <p class="textcolor">
                    A: You will be presented with buttons to “Tip” and “Review” once you click the “Finish” button.
                    Here you will be able to review the ePal,
                    and if they have done a great job, you could send some tips their way!
                </p><br>
                <h2 class="h2_height">Q: How can I become a Coach?</h2>
                <p class="textcolor">
                    A: In your settings, navigate to your games section. You will see an option to “Add Service”,
                    simply click this button and fill out all the required application fields.
                    Note that you must visit the game or lifestyle tab in your settings, not on your profile.
                </p><br>
                <h2 id="parent-3">Discounts and Promotions</h2><br>
                <h2 class="h2_height">Q: When should I refund?</h2>
                <p class="textcolor">
                    A: Common refund reasons include harassment, non-consensual recording, negative attitude,
                    and suspicious transactions. If you ever feel uncomfortable during an order, you should leave and
                    initiate a refund and report the incident to customer service by emailing support@epal.gg.
                    Note our refund window is 3 days after completion. Completed orders won’t be able to be refunded if they are more than three days old.
                </p><br>
                <h2 class="h2_height">Q: How can I remove a review?</h2>
                <p class="textcolor">
                    A: Due to consumer protection laws, reviews may only be removed if there is clear evidence of harassment or the order was never completed.
                    If a customer leaves a poor review that meets these requirements,
                    please email support@epal.gg. You can also contact the customer and issue a refund if needed, which will remove the review.
                </p><br>
                <h2 class="h2_height">Q: How can I review a customer?</h2>
                <p class="textcolor">
                    A: When an order is completed, navigate to the Order section and go to the “Completed” tab.
                    Click “Fast Review” to write an anonymous review for your customer - only other ePals can see customer reviews,
                    and customers cannot see their own reviews even if they are ePals.
                </p><br>
                <h2 id="parent-4">Refunds and Reviews</h2><br>
                <h2 class="h2_height">Q: How does the withdrawal period work exactly?</h2>
                <p class="textcolor">
                    A: When you have completed less than 20 paid orders, you can withdraw your Buff income after 15 days;
                </p><br>
                <p class="textcolor">
                    When you have completed 20 - 49 paid orders, you can withdraw your Buff income after 7 days;
                </p><br>
                <p class="textcolor">
                    Note: The money you earned before you advanced into the new tier will not be retroactively changed. They will still have the old and longer timer
                </p><br>

                <p class="textcolor">
                    When you have completed 50 or more paid orders, you can withdraw your Buff income after 3 days;
                </p><br>
                <h2 id="parent-5">Money</h2><br>
                <h2 class="h2_height">Q: What is “Buff”?</h2>
                <p class="textcolor">
                    A: “Buff” is a virtual currency used on E-Pal, it can be used to pay for services and tips.
                    1.00 Buff = 1.00 USD; “Buff balance” is the remaining deposit on your account that is able to be used.
                    The money in “Buff balance” is a non-withdrawable currency that can only be spent on E-Pal.
                </p><br>
                <p class="textcolor">
                    “Buff income” refers to the income you have generated through providing services and collecting tips.
                    Income can be withdrawn and
                    “Withdrawable Buff” is the number of Buff that are available to be withdrawn.
                </p><br>
                <h2 class="h2_height">Q:  What is “E-Coin”?</h2>
                <p class="textcolor">
                    A: “E-Coin” is also a virtual currency used on E-Pal. It is used to send gifts in “Team Room” and through our IM messenger. E-coin does not need to be recharged, as it is automatically converted from Buff; 1.00 Buff = 100.00 E-Coins; “E-Coin income” refers to the accumulated income from the gifts you receive through
                    “Team Room” and IM messenger, which can be withdrawn.
                </p><br>
                <h2 class="h2_height">Q:  Can I recharge through other methods?</h2>
                <p class="textcolor">
                    A: Not yet sadly. We are working on card payment and other similar services, but for now, we can only accept PayPal payments
                </p><br>

                <h2 id="parent-6">Safety and Security</h2><br>


                <h2 id="parent-7">General</h2><br>
                <h2 class="h2_height">Q:   How much free Buffs do we get?</h2>
                <p class="textcolor">
                    A:Monthly Plus user gets 15 Buffs immediately after subscription,
                    and they also get 15 Buff at the beginning of each month that they are subscribing
                </p><br>
                <p class="textcolor">
                    Seasonal Plus user gets 40 Buffs immediately after subscription, and they also get 40 Buff at the beginning of each season that they are subscribing
                </p><br>
                <p class="textcolor">
                    Annual Plus user gets 117 Buffs immediately after subscription, and they also get 117 Buff at the beginning of each year that they are subscribing
                </p><br>
                
                    <p class="textcolor">
                        Seasonal Premium user gets 83 Buffs immediately after subscription, and they also get 83 Buff at the beginning of each season that they are subscribing
                    </p><br>
                        <p class="textcolor">
                            Annual Premium user gets 211 Buffs immediately after subscription, and they also get 211 Buff at the beginning of each year that they are subscribing
                        </p><br>
            </div>
        </div>

    </div>
</div>
@section topCSS{
    <style>
        header {
            height: 66px;
        }
        @@media screen and (max-width: 767px) {
          
            header {
                height: 0px;
            }
        }  
            .items {
                padding: 30px;
                background-color: rgb(33,33,44)
            }

            .text a {
                font-size: 15px;
                color: white;
            }

            .text h1 {
                font-size: 30px;
                color: white;
            }

            .text h2 {
                font-size: 15px;
                color: white;
            }

            html, body {
                font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
                height: 100%;
            }

            .textcolor {
                font-size: 13px;
                color: rgb(185,185,218);
            }

            .h2_height {
                font-size: 10px;
                height: 40px;
            }
        .text {
            width: 70%
        }
    
    </style>

    }