<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-6">
            <div class="text">
                <div class="title">
                    <h2>Community Guidelines</h2>
                </div>
                <p>
                    These Business Terms of Service (“Terms”) govern your access to
                    and use of the EPAL.GG website (“EPAL.GG” or the “Service”) as an “Epal”. Please read these Terms carefullyand contact us if you have any questions. By creating an account under these Terms (“Business Account”), or by accessing or using the Service, you agree to be bound by these Terms, our Privacy Policy,
                    and our Community Guidelines, and our Multimedia Policy
                </p><br>
                <h1>LAW:</h1><br>
                <p>
                    As a user, you must respect all applicable local,
                    national, and international laws while using Epal or
                    Epal related services. Any content or activity featuring,
                    encouraging, offering, or soliciting illegal activity is strictly
                    prohibited.
                </p><br>
                <h1>Violence and Threats:</h1><br>
                <p>
                    E-Pal has a strict no violence policy.
                    Acts and/or threats of violence in any capacity will be taken seriously and are considered
                    zero-tolerance violations. Any and all accounts associated with such activities will be terminated immediately.
                    This includes but is not limited to:
                </p><br>
                <h1>Cybersecurity:</h1><br>
                <p>
                    We recognize that the safety of our users extends to the security of their
                    personal information. Attempts to gather sensitive personal information by deceptive or invasive methods are harmful to the authentic, open, and safe atmosphere that we want to foster. Therefore, we do not allow attempts to gather sensitive user
                    information through the abuse of our platform and products.
                    prohibited.
                </p><br>
                <h1>Unauthorized Sharing of Private Information:</h1><br>
                <p>
                    E-Pal prohibits any users to share content that may reveal private personal information about individuals. Private personal information includes but is not limited to; names which aren’t used publically, location, workplace, private property, images and otherwise without permission.
                </p><br>

                    <h1>Privacy Invasion:</h1><br>
                                              <p>
                                                  Any attempts or activities to record or stream others on any alternative platform without their consent will result in privacy invasion.
                                              </p><br>

                                                  <h1>Sexual Solicitation:</h1><br>
                                                                               <p>
                                                                                   Nudity and sexually explicit content or activities, such as pornography, sexual acts or intercourse, and sexual services, are strictly prohibited. Content or activities that threaten or promote sexual violence or exploitation are strictly prohibited and may be reported to law enforcement. Child exploitation will be reported to authorities via the National Center for Missing & Exploited Children.
                                                                               </p><br>
            </div>
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
</div>
@section endJS{
    <style>
        p {
            font-size: 30px;
        }
        header{
            height:66px;
        }
        
        html, body {
            background-color: rgb(18,14,27);
            font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
            height: 100%;
        }
        .container {
            
            color: aliceblue;
        }

        .text {
            font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
            color: aliceblue;
            text-align: left;
        }

        .container-fluid {
            background-color: rgb(18,14,27);
        }

        .title h2 {
            /*  font-size: 20px;
            text-align: center;
            padding: 25px;
            font-family: monospace;*/
            text-align: center;
            height: 90px;
            font-size: 30px;
            padding: 30px;
        }

        .text h1 {
            font-size: 15px;
        }
        .text p{
            font-size:15px;
        }
        @@media screen and (max-width: 767px) {

            header {
                height: 0px;
            }
            .title h2 {
                text-align: center;
                font-size: 20px;
                padding: 20px;
            }
        } 
      
    </style>
}